@font-face {
  font-family: "Raleway Regular";
  src: url('../fonts/raleway-regular.ttf');
}
@font-face {
  font-family: "Raleway Bold";
  src: url('../fonts/raleway-bold.ttf');
}
@font-face {
  font-family: "Raleway Extrabold";
  src: url('../fonts/raleway-extrabold.ttf');
}
@font-face {
  font-family: "Roboto Bold";
  src: url('../fonts/roboto-bold.ttf');
}
@font-face {
  font-family: "Roboto Black Italic";
  src: url('../fonts/roboto-black-italic.ttf');
}
@font-face {
  font-family: "Roboto Regular";
  src: url('../fonts/roboto-regular.ttf');
}
@font-face {
  font-family: "Raleway Heavy";
  src: url('../fonts/Raleway-Heavy.otf');
}
@font-face {
  font-family: "Raleway Black";
  src: url('../fonts/raleway-black.ttf');
}
@font-face {
  font-family: "Raleway Bold Italic";
  src: url('../fonts/raleway-bold-italic.ttf');
}
@font-face {
  font-family: "Raleway Black Italic";
  src: url('../fonts/raleway-black-italic.ttf');
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
body {
  font-size: 20px;
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
  background: #f0f9ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff', endColorstr='#a1dbff', GradientType=0);
  /* IE6-9 */
}
.header {
  background: url(../images/indexBack.jpg) center center;
  height: 700px;
  background-size: cover;
}
@media (min-width: 0) and (max-width: 767px) {
  .header {
    height: 800px;
  }
}
.header .navCustom {
  z-index: 1;
  border: none;
  margin: 0 -15px;
}
.header .navbar-default .navbar-toggle:focus,
.header .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.header .navbar-brand {
  font: 20px "Raleway Black", sans-serif;
  color: black;
  background: url(../images/logo.png) no-repeat 15px center;
  background-size: 15%;
  padding-left: 55px;
  text-transform: uppercase;
}
.header .navbar-brand:hover,
.header .navbar-brand:focus {
  color: black;
}
.header .container {
  position: relative;
}
.header .container .logo {
  display: block;
  position: absolute;
  background: url(../images/surfhouse-logo.png);
  width: 125px;
  height: 111px;
  left: 69px;
  top: 24px;
}
.header .container .headerSocials {
  display: block;
  padding: 15px;
  position: absolute;
  right: 20px;
  top: 50px;
}
.header .container .headerSocials i:hover {
  color: #0c7a0c;
}
.header .container .headerSocials i:last-child {
  letter-spacing: 0;
}
.header .container .headerSocials a {
  color: #f8f8f8;
  letter-spacing: 10px;
}
@media (min-width: 0) and (max-width: 767px) {
  .header .container .headerSocials {
    top: 50px;
    left: 15px;
    min-width: 80%;
  }
  .header .container .headerSocials a {
    font-size: 30px;
  }
}
.header .container .welcomeBloc {
  position: absolute;
  padding: 82px 25px 0 25px;
  box-sizing: border-box;
  top: 336px;
  height: 300px;
  width: 270px;
  background-color: #fff51f;
}
.header .container .welcomeBloc .welcomeHead {
  font: 30px "Raleway Bold", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  color: #333333;
}
.header .container .welcomeBloc .welcomeText {
  margin-top: 25px;
  font: 18px "Raleway Bold Italic", sans-serif;
  line-height: 14px;
  color: #333333;
  text-align: justify;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .container .welcomeBloc {
    top: 250px;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  .header .container .welcomeBloc {
    top: 111px;
    left: 15px;
  }
}
.header .container .promoInfo {
  position: absolute;
  right: 50px;
  top: 243px;
  width: 313px;
  height: 168px;
}
.header .container .promoInfo .promoHead {
  color: #fff51f;
  text-transform: uppercase;
  font: 48px "Raleway Extrabold", serif;
  text-align: left;
  font-weight: 800;
  line-height: 34px;
}
.header .container .promoInfo .desc {
  margin-top: 5px;
  font-size: 18px;
  line-height: 1.33;
  color: #fff51f;
  text-align: justify;
}
@media (min-width: 0) and (max-width: 767px) {
  .header .container .promoInfo {
    top: 420px;
    left: 15px;
  }
}
.header .container .btnBuy {
  width: 124px;
  height: 49px;
  display: block;
  line-height: 49px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: "Raleway Black", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin-top: 62px;
  background-color: #fff51f;
}
.header .container .btnBuy:hover {
  background-color: #1fff1f;
}
.header .container .btnBuy:active {
  background-color: #1f35ff;
}
.content {
  margin-top: -20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .content {
    margin-top: 0;
  }
}
.content .menu {
  font: 14px "Roboto Bold", serif;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}
.content .menu a:first-child {
  line-height: 2.29;
  margin: 0;
  color: #ffffff;
  background-color: #333333;
}
.content .menu a {
  display: block;
  padding: 15px 185px 6px 40px;
  background-color: #26d2fc;
  white-space: nowrap;
  color: #000000;
}
.content .menu a:last-child {
  padding-bottom: 15px;
}
.content .menu a:hover {
  background-color: #333333;
}
.content .menu a:active {
  text-decoration: none;
}
.content .banner {
  margin-top: 30px;
  box-sizing: border-box;
  height: 300px;
  background: url(../images/store.jpg) no-repeat center;
  border: 5px solid #ffffff;
  background-size: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .content .banner {
    margin-top: 15px;
  }
}
.content .banner strong {
  position: absolute;
  display: block;
  width: 109px;
  right: 15px;
  top: 140px;
  text-transform: uppercase;
  font: 36px "Raleway Black Italic", serif;
  font-weight: 900;
  line-height: 50px;
  text-align: left;
  color: #333333;
}
.content .productsHeader {
  width: 100%;
  padding: 0 25px;
  background-color: #f8f8f8;
  text-transform: uppercase;
  font: 22px "Roboto Black Italic", serif;
  line-height: 78px;
  color: #707070;
  margin-bottom: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .content .newProductHeader {
    margin-top: 15px;
  }
}
@media (min-width: 583px) and (max-width: 767px) {
  .content .productUnitCol {
    width: 50%;
    float: left;
  }
}
.content .productUnit {
  position: relative;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.content .productUnit .iconNew,
.content .productUnit .iconHot {
  background: url("../images/corner.svg") no-repeat;
  font-family: "Roboto Regular", sans-serif;
  font-size: 9px;
  color: white;
  padding: 9px 0 0 22px;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.content .productUnit .iconNew {
  background: url("../images/corner.svg") no-repeat;
}
.content .productUnit .iconHot {
  background: url("../images/cornerHot.svg") no-repeat;
}
.content .productUnit .productImage {
  width: 100%;
  margin-bottom: 19px;
}
.content .productUnit .nameAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 45px;
  color: #333333;
  font-family: "Roboto Black Italic", sans-serif;
}
.content .productUnit .nameAndPrice .productName {
  font-size: 14px;
  max-height: 2.8em;
  overflow: hidden;
  padding-right: 5px;
  box-sizing: border-box;
}
.content .productUnit .nameAndPrice .productPriceWrap {
  text-align: right;
}
.content .productUnit .nameAndPrice .productPriceWrap .productPrice {
  font-size: 18px;
}
.content .productUnit .nameAndPrice .productPriceWrap .discount {
  color: #e24602;
  font-size: 14px;
  text-decoration: line-through;
}
.brands {
  background: #ffffff;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding: 40px 15px;
}
.brands img {
  margin: 5px;
}
.feedBlock {
  padding: 50px 0;
  background-color: #eaeaea;
  box-sizing: border-box;
}
.feedBlock .feed {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font: 22px "Roboto Black Italic", serif;
  font-weight: 900;
  font-style: italic;
  color: #333333;
}
.feedBlock .feed i:last-of-type {
  font-size: 18px;
}
.feedBlock .feedPhotos {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feedBlock .feedPhotos img {
  margin: 2px;
  border: 8px solid #ffffff;
  box-sizing: border-box;
}
@media (min-width: 0px) and (max-width: 409px) {
  .feedBlock .feedPhotos img {
    display: none;
  }
}
.socialButtons {
  display: flex;
}
.socialButtons a {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  width: calc(33.33333333%);
  text-decoration: none;
  color: #ffffff;
  font-size: 4rem;
  background-color: #3fccfd;
}
.socialButtons a:first-child {
  background-color: #3b5997;
}
.socialButtons a:last-child {
  background-color: #cb2027;
}
@media (min-width: 0px) and (max-width: 767px) {
  .socialButtons a {
    width: auto;
    float: left;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  .socialButtons {
    flex-direction: column;
    align-items: stretch;
  }
}
.footer {
  background-color: #373737;
  min-height: 340px;
  color: #ffffff;
  text-align: justify;
}
.footer > .container:before,
.footer > .container:after {
  display: none;
}
.footer .footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 75px;
  box-sizing: border-box;
}
.footer .footerContainer .collums {
  font-size: 12px;
  margin-right: 10px;
  padding: 0;
  font: 12px "Roboto Regular", sans-serif;
}
@media (min-width: 0) and (max-width: 991px) {
  .footer .footerContainer .collums {
    flex-grow: 1;
    padding: 10px;
  }
}
.footer .footerContainer .category {
  margin-bottom: 27px;
  font: 18px "Raleway Extrabold", serif;
  font-weight: 800;
}
.footer .footerContainer .categoryItems {
  text-align: justify;
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
}
.footer .footerContainer .categoryItems a {
  display: block;
  color: inherit;
}
.footer .footerContainer .categoryItems input[type="text"] {
  background-color: yellow;
  box-sizing: border-box;
  float: left;
  outline: none;
  height: 30px;
  width: 180px;
  border: none;
  padding: 0 5px;
  color: #000000;
}
.footer .footerContainer .categoryItems input[type="submit"] {
  outline: none;
  height: 30px;
  width: 71px;
  border: none;
  background-color: #000000;
}
.footer .footerContainer .categoryItems input[type="submit"]:hover {
  background-color: #3b5997;
}
.footer .footerContainer .payWays {
  margin-top: 30px;
}
.footer .footerContainer .subscribeText {
  margin-bottom: 20px;
}
.footer .footerContainer .email {
  margin-top: 14px;
  color: #faef03;
  font-size: 14px;
  line-height: 2.57;
}
.footer .footerContainer .email i {
  color: #faef03;
}
.footerBottom {
  background-color: #333333;
}
.footerBottom .bottomBlock {
  min-height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom .bottomBlock {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .footerBottom .bottomBlock .footerIcons i {
    margin: 10px;
    font-size: 80%;
  }
}
.footerBottom .bottomBlock:before,
.footerBottom .bottomBlock:after {
  display: none;
}
.footerBottom .bottomBlock .copyright {
  font: 12px "Roboto Regular", serif;
  line-height: 1.83;
}
.footerBottom .bottomBlock .footerIcons i {
  float: right;
  color: white;
  margin-right: 15px;
}
.footerBottom .bottomBlock .footerIcons i:hover {
  color: #1fff1f;
}
